/*!
 * Argyros Admin - Custom Stylesheet
 */

.tx_al_i{ text-align: left; }
.tx_al_d{ text-align: right; }
.tx_al_c{ text-align: center; }

#datatable_filter{
	width: 100% !important;
}

.list-prod-reg{
	height: 100px;
	overflow-y: scroll;
}

.pstat_{
	color: #1abb9c;
}
.pstat_o{
	color: rgba(231,76,60,1);
}